* {
  margin:0;
  padding:0;
  border:0;
  
}
body{
  background-image:url(background.jpeg);
}

  


header{
  text-align: center;
  background-color:rgba(30,122,134,0.5);
  width:800 px;
  margin: 0 auto 20px auto;
  padding:20 px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-radius: 0 0 30px 30px
  

}
main{
  color: rgb(230, 92, 0);
  width:800px;
  height: 450px;
  background-image:url(fruits.jpeg);
  background-size: cover;
  margin:auto ;
  border-radius: 30px 30px 0 0;
  padding:20px;
  font-size:25px;
}
.calculate-bmi .result-bmi{
  width:200px;
  margin:80px auto 0;
}

.result-bmi{
  
  margin:auto 0;
  width: auto;

}


input[type=number],button{
  font-size:20px;
  border-radius:20px;
  padding:10px;
  margin:10px;
  border:1px solid #000;
  background-color: aliceblue;
}
button{
  cursor: pointer;
}
button:hover{
  background-color:aqua;
}
footer{
  font-size: 20px;
  width: 800px;
  text-align: center;
  color: #000;
  border-radius: 0 0 30px 30px;
  background-color: rgba(30, 122, 134, 0.5);
  padding: 20px;
  margin: 0 auto;
  
}
nav {
  background-color: rgba(38, 135, 150, 0.5);
  width: 800px;
  padding: 10px;
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
}
li {
  display: inline;
  padding: 30px;
}



li a {
  font-size: 17px;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration:none;
}



.menu{
  padding: 18px;
  background-color:rgba(30, 122, 134, 0.3);
  font-style: oblique;
}



ul {
  text-align:allign;
}
