body {
  font-family: Arial, sans-serif;
}

#video-player {
  width: 80%;
  margin: 0 auto;
}

#my-video {
  width: 100%;
}

.video-item {
  display: inline-block;
  width: 300px;
  margin: 10px;
}

.video-item img {
  width: 100%;
}
